*{
padding: 0;
margin: 0;
box-sizing: border-box;
color: black;
background-color: black;

}
body {
background-color: black;
color: black;



}
 .tiltulo_do_site {

color: white;
width: 100px;
text-align: center;

 }